[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group Gemini Maintainers
	owner = group Land Maintainers
	owner = group Santoni Maintainers
	owner = group user/PureFusion-Gerrit
[access "refs/for/refs/*"]
	read = group Gemini Maintainers
	read = group Land Maintainers
	read = group Santoni Maintainers
	read = group user/PureFusion-Gerrit
	push = group Gemini Maintainers
	push = group Land Maintainers
	push = group Santoni Maintainers
	push = group user/PureFusion-Gerrit
	label-Code-Review = -2..+2 group Gemini Maintainers
	label-Code-Review = -2..+2 group Land Maintainers
	label-Code-Review = -2..+2 group Santoni Maintainers
	label-Code-Review = -2..+2 group user/PureFusion-Gerrit
	label-Verified = -1..+1 group Gemini Maintainers
	label-Verified = -1..+1 group Land Maintainers
	label-Verified = -1..+1 group Santoni Maintainers
	label-Verified = -1..+1 group user/PureFusion-Gerrit
	rebase = group Gemini Maintainers
	rebase = group Land Maintainers
	rebase = group Santoni Maintainers
	rebase = group user/PureFusion-Gerrit
	removeReviewer = group Gemini Maintainers
	removeReviewer = group Land Maintainers
	removeReviewer = group Santoni Maintainers
	removeReviewer = group user/PureFusion-Gerrit
	submit = group Gemini Maintainers
	submit = group Land Maintainers
	submit = group Santoni Maintainers
	submit = group user/PureFusion-Gerrit
[access "refs/heads/*"]
	read = group Gemini Maintainers
	read = group Land Maintainers
	read = group Santoni Maintainers
	read = group user/PureFusion-Gerrit
	create = group Gemini Maintainers
	create = group Land Maintainers
	create = group Santoni Maintainers
	create = group user/PureFusion-Gerrit
	push = group Gemini Maintainers
	push = +force group Land Maintainers
	push = group Santoni Maintainers
	push = +force group user/PureFusion-Gerrit
	pushMerge = group Gemini Maintainers
	pushMerge = group Land Maintainers
	pushMerge = group Santoni Maintainers
	pushMerge = group user/PureFusion-Gerrit
	label-Verified = -1..+1 group Gemini Maintainers
	label-Verified = -1..+1 group Land Maintainers
	label-Verified = -1..+1 group Santoni Maintainers
[access "refs/tags/*"]
	push = +force group Gemini Maintainers
	push = +force group Land Maintainers
	push = group Santoni Maintainers
	push = group user/PureFusion-Gerrit
	push = +force group user/PureFusion-Gerrit
	label-Verified = -1..+1 group Gemini Maintainers
	label-Verified = -1..+1 group Land Maintainers
	label-Verified = -1..+1 group Santoni Maintainers
[submit]
	action = rebase if necessary
