[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group Gemini Maintainers
	owner = group user/PureFusion-Gerrit
[access "refs/for/refs/*"]
	read = group Gemini Maintainers
	read = group user/PureFusion-Gerrit
	push = group Gemini Maintainers
	push = group user/PureFusion-Gerrit
	label-Code-Review = -2..+2 group Gemini Maintainers
	label-Code-Review = -2..+2 group user/PureFusion-Gerrit
	label-Verified = -1..+1 group Gemini Maintainers
	label-Verified = -1..+1 group user/PureFusion-Gerrit
	rebase = group Gemini Maintainers
	rebase = group user/PureFusion-Gerrit
	removeReviewer = group Gemini Maintainers
	removeReviewer = group user/PureFusion-Gerrit
	submit = group Gemini Maintainers
	submit = group user/PureFusion-Gerrit
[access "refs/heads/*"]
	read = group Gemini Maintainers
	read = group user/PureFusion-Gerrit
	create = group Gemini Maintainers
	create = group user/PureFusion-Gerrit
	push = group Gemini Maintainers
	push = +force group user/PureFusion-Gerrit
	pushMerge = group Gemini Maintainers
	pushMerge = group user/PureFusion-Gerrit
	label-Verified = -1..+1 group Gemini Maintainers
[access "refs/tags/*"]
	push = +force group Gemini Maintainers
	push = group user/PureFusion-Gerrit
	push = +force group user/PureFusion-Gerrit
[submit]
	action = rebase if necessary
